<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codepresso.cheerup.dao.InterviewMapper">


    <!-- (1) 사용자가 선택한 카테고리의 정보만 가져오기 -->
<!--    <select id="getSelectedList" parameterType="com.codepresso.cheerup.vo.Interview">-->
<!--        SELECT (*) FROM interview-->
<!--        WHERE category = #{category}-->
<!--    </select>-->

    <select id="getSingleList" parameterType="String" resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category_origin} order by rand() limit 10
    </select>

    <select id="getMultiList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category IN
        <foreach collection="array" item="multiArray" open="(" close=")" separator=",">
            #{multiArray}
        </foreach>
    </select>


    <select id="getProgrammingList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>

    <select id="getData_structureList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>

    <select id="getAlgorithmList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>

    <select id="getDatabaseList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>

    <select id="getNetworkList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>

    <select id="getOsList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>

    <select id="getPersonalityList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>

    <select id="getSurpriseList"  resultType="com.codepresso.cheerup.vo.Interview">
        SELECT * FROM Interview
        WHERE category = #{category} order by rand()
        limit #{limitCount}
    </select>


    <insert id="insertUserResponse" parameterType="map">
        INSERT INTO Interview_response
        (id, interview_id, answer) values( #{id},
        <foreach collection="array" item="id_array" open="(" close=")" separator=",">
            #{id_array},
        </foreach>
        <foreach collection="array" item="answer_array" open="(" close=")" separator=",">
            #{answer_array})
        </foreach>
    </insert>



</mapper>